.banner
{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
    padding: 10.5rem 0rem;
    gap: 1rem;
    flex: 1;
    background: linear-gradient(#171e38, #223475);
}

.banner__title
{
    font-size: 2.441rem;
    margin-bottom: 0rem;
}

.banner--highlight-text
{
    color: #d9425b;
}

.banner__paragraph
{
    color: #9699a1;
    width: 25rem;
    text-align: center;
}
