
.botonCursos
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: aliceblue;
    background-color: #c93049;
    border-radius: 2rem;
    width: 9rem;
    height: 3rem;
    border: none;
    text-decoration: none;
    transition: ease 200ms;
}

.botonCursos:hover
{ 
    cursor: pointer;
    background-color: #950c22;
    scale: 1.02;
}
